workflows/n8n/lead-enrichment-v0.1.3-single-lead-test-blocked-response-sanitization.json
{
  "name": "Lead Enrichment v0.1.3 - Single Lead Test",
  "nodes": [
    {
      "parameters": {
        "content": "???????????????????????????\n\n?????? AI OPC ????? Lead Agent ??????????????????????? AI OPC ???????????????????????? Sales Agent?CRM?Analytics Agent ???",
        "height": 260,
        "width": 520,
        "color": 5
      },
      "id": "b55a0100-0000-4000-9000-000000000001",
      "name": "Safety Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -360,
        -260
      ]
    },
    {
      "parameters": {},
      "id": "b55a0100-0000-4000-9000-000000000002",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "notesInFlow": true,
      "notes": "?????????????????Webhook Trigger ??????"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "lead-id",
              "name": "lead_id",
              "value": "18a32777-f886-4441-98d9-e2b06a5586ab",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b55a0100-0000-4000-9000-000000000003",
      "name": "Set Test Lead UUID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "notesInFlow": true,
      "notes": "??????? Lead UUID????????Acrylic Displays?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id,\n  company_name,\n  website,\n  email,\n  phone,\n  contact_name,\n  contact_title,\n  notes,\n  raw_data,\n  company_description,\n  contact_page_url,\n  enrichment_status\nFROM public.leads\nWHERE id = $1::uuid\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$json.lead_id] }}"
        }
      },
      "id": "b55a0100-0000-4000-9000-000000000004",
      "name": "Fetch One Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        480,
        0
      ],
      "notesInFlow": true,
      "notes": "?? id ? public.leads ??????????????? PostgreSQL Credential?? JSON ??? credentials?"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const row = item.json;\nconst rawWebsite = String(row.website || '').trim();\n\nfunction parseHttpAddress(value) {\n  const original = String(value || '').trim();\n  if (!original) {\n    return { ok: false, error: '???????????' };\n  }\n\n  const match = original.match(/^(https?):\\/\\/([^\\/?#\\s]+)([^\\s]*)?$/i);\n  if (!match) {\n    return { ok: false, error: '?? URL ??????? http/https?' };\n  }\n\n  const protocol = match[1].toLowerCase();\n  const authority = match[2];\n  let rest = match[3] || '/';\n  let hostname = authority.replace(/:\\d+$/, '').toLowerCase();\n\n  if (!hostname || hostname.includes('@') || hostname.includes('..')) {\n    return { ok: false, error: '?? URL ???? hostname?' };\n  }\n\n  if (!/^[a-z0-9.-]+$/.test(hostname) || hostname.indexOf('.') === -1) {\n    return { ok: false, error: '?? hostname ?????' };\n  }\n\n  if (hostname.endsWith('.invalid')) {\n    return { ok: false, error: '???? .invalid ???' };\n  }\n\n  rest = rest.split('#')[0] || '/';\n  if (!rest.startsWith('/')) rest = '/' + rest;\n\n  const rootDomain = hostname.replace(/^www\\./, '');\n  return {\n    ok: true,\n    normalized: protocol + '://' + authority.toLowerCase() + rest,\n    hostname,\n    rootDomain,\n  };\n}\n\nconst parsed = parseHttpAddress(rawWebsite);\n\nif (!parsed.ok) {\n  return {\n    json: {\n      ...row,\n      lead_id: row.id,\n      company_name: row.company_name || null,\n      website: rawWebsite || null,\n      is_valid_website: false,\n      validation_error: parsed.error,\n      website_hostname: null,\n      website_root_domain: null,\n      errors: [parsed.error],\n    },\n  };\n}\n\nreturn {\n  json: {\n    ...row,\n    lead_id: row.id,\n    company_name: row.company_name || null,\n    website: parsed.normalized,\n    is_valid_website: true,\n    validation_error: null,\n    website_hostname: parsed.hostname,\n    website_root_domain: parsed.rootDomain,\n    errors: [],\n  },\n};"
      },
      "id": "b55a0100-0000-4000-9000-000000000005",
      "name": "Validate Website",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ],
      "notesInFlow": true,
      "notes": "????????????? URL?????? URL?? URL ? Node url ???????? hostname ? root domain?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-website",
              "leftValue": "={{ $json.is_valid_website }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b55a0100-0000-4000-9000-000000000006",
      "name": "IF Valid Website",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        0
      ],
      "notesInFlow": true,
      "notes": "?????????????????????????"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: { ...item.json, running_update_preview: { lead_id: item.json.lead_id, enrichment_status: 'running', note: '????????????????????' } } };"
      },
      "id": "b55a0100-0000-4000-9000-000000000007",
      "name": "Prepare Running Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -120
      ],
      "notesInFlow": true,
      "notes": "?? enrichment_status=running ???????????????"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const now = new Date().toISOString();\nconst hasWebsite = Boolean(item.json.website);\nconst reason = hasWebsite ? 'invalid_website' : 'no_website';\nconst errors = [reason];\nreturn {\n  json: {\n    ...item.json,\n    homepage_url: item.json.website || null,\n    homepage_accessible: false,\n    homepage_block_reason: reason,\n    homepage_http_status: null,\n    contact_page_url_candidate: null,\n    contact_page_accessible: null,\n    contact_page_block_reason: null,\n    contact_page_http_status: null,\n    homepage_signals: null,\n    contact_signals: null,\n    extracted_emails: [],\n    extracted_phones: [],\n    errors,\n    raw_data_enrichment_v01: {\n      version: 'v0.1',\n      processed_at: now,\n      homepage_url: item.json.website || null,\n      contact_page_url: null,\n      homepage_accessible: false,\n      homepage_block_reason: reason,\n      homepage_http_status: null,\n      contact_page_accessible: null,\n      contact_page_block_reason: null,\n      contact_page_http_status: null,\n      extracted_emails: [],\n      extracted_phones: [],\n      errors,\n    },\n  },\n};"
      },
      "id": "b55a0100-0000-4000-9000-000000000008",
      "name": "Prepare Failed Update Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        160
      ],
      "notesInFlow": true,
      "notes": "Normalizes invalid or missing website failures to invalid_website or no_website only."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.website }}",
        "options": {
          "timeout": 15000,
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "b55a0100-0000-4000-9000-000000000009",
      "name": "Fetch Homepage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        -120
      ],
      "continueOnFail": true,
      "notesInFlow": true,
      "notes": "? GET ???????????????????????????????????????? robots ?????"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ALLOWED_ERROR_CODES = [\n  'blocked_by_cloudflare_403',\n  'access_denied_403',\n  'unauthorized_401',\n  'rate_limited_429',\n  'server_error_5xx',\n  'login_required',\n  'request_failed',\n  'invalid_website',\n  'no_website',\n  'no_contact_page',\n];\n\nfunction statusFromResponse(responseData) {\n  const candidates = [\n    responseData.statusCode,\n    responseData.status,\n    responseData.code,\n    responseData.error && responseData.error.statusCode,\n    responseData.error && responseData.error.status,\n    responseData.error && responseData.error.code,\n  ];\n  for (const value of candidates) {\n    const numeric = Number(value);\n    if (Number.isInteger(numeric) && numeric >= 100 && numeric <= 599) return numeric;\n  }\n  return null;\n}\n\nfunction detectionText(responseData) {\n  return [\n    responseData.body,\n    responseData.data,\n    responseData.response,\n    responseData.message,\n    responseData.error && responseData.error.message,\n    responseData.error && responseData.error.description,\n  ].map((value) => String(value || '')).join(' ').toLowerCase();\n}\n\nfunction normalizeReason(reason) {\n  return ALLOWED_ERROR_CODES.includes(reason) ? reason : 'request_failed';\n}\n\nfunction detectBlockReason(statusCode, text, responseData) {\n  const cloudflare = text.includes('just a moment')\n    || text.includes('enable javascript and cookies')\n    || text.includes('challenges.cloudflare.com')\n    || text.includes('cloudflare');\n\n  if (statusCode === 403 && cloudflare) return 'blocked_by_cloudflare_403';\n  if (statusCode === 401) return 'unauthorized_401';\n  if (statusCode === 403) return 'access_denied_403';\n  if (statusCode === 429) return 'rate_limited_429';\n  if (statusCode >= 500) return 'server_error_5xx';\n  if (text.includes('login required') || text.includes('please log in') || text.includes('sign in required')) return 'login_required';\n  if (text.includes('access denied')) return statusCode === 403 ? 'access_denied_403' : 'request_failed';\n  if (text.includes('captcha')) return statusCode === 403 ? 'access_denied_403' : 'request_failed';\n  if (responseData.error || (!statusCode && !text.trim())) return 'request_failed';\n  return null;\n}\n\nfunction sanitizedErrors(values) {\n  const result = [];\n  for (const value of values || []) {\n    const text = String(value || '').toLowerCase();\n    let code = null;\n    for (const allowed of ALLOWED_ERROR_CODES) {\n      if (text === allowed || text.endsWith(':' + allowed) || text.includes(allowed)) {\n        code = allowed;\n        break;\n      }\n    }\n    if (!code) {\n      if (text.includes('no website') || text.includes('???')) code = 'no_website';\n      else if (text.includes('invalid') || text.includes('??')) code = 'invalid_website';\n      else if (text.includes('cloudflare') || text.includes('just a moment') || text.includes('enable javascript and cookies')) code = 'blocked_by_cloudflare_403';\n      else if (text.includes('403')) code = 'access_denied_403';\n      else if (text.includes('401')) code = 'unauthorized_401';\n      else if (text.includes('429')) code = 'rate_limited_429';\n      else if (text.includes('5xx') || text.includes('500') || text.includes('502') || text.includes('503') || text.includes('504')) code = 'server_error_5xx';\n      else if (text.includes('login')) code = 'login_required';\n      else code = 'request_failed';\n    }\n    if (!result.includes(code)) result.push(code);\n  }\n  return result;\n}\n\nconst lead = $('Prepare Running Update').first().json;\nconst response = item.json || {};\nconst status = statusFromResponse(response);\nconst text = detectionText(response);\nconst reason = normalizeReason(detectBlockReason(status, text, response));\nconst accessible = reason === null;\nconst errors = sanitizedErrors([...(lead.errors || []), ...(accessible ? [] : [reason])]);\nconst body = accessible ? String(response.body ?? response.data ?? response.response ?? '') : '';\n\nreturn {\n  json: {\n    ...lead,\n    homepage_url: lead.website,\n    homepage_accessible: accessible,\n    homepage_block_reason: accessible ? null : reason,\n    homepage_http_status: status,\n    homepage_response_body: body,\n    errors,\n  },\n};"
      },
      "id": "b55a0102-0000-4000-9000-000000000021",
      "name": "Detect Homepage Access Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        -120
      ],
      "notesInFlow": true,
      "notes": "Classifies blocked homepage responses using status and sanitized text only. Does not pass blocked HTML, headers, cookies, tokens, stacks, or raw errors downstream."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b55a0102-0000-4000-9000-000000000022",
              "leftValue": "={{ $json.homepage_accessible }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b55a0102-0000-4000-9000-000000000022",
      "name": "IF Homepage Accessible",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        -120
      ],
      "notesInFlow": true,
      "notes": "???????? Extract Homepage Signals??????????????????"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = item.json;\nconst now = new Date().toISOString();\nconst allowed = ['blocked_by_cloudflare_403', 'access_denied_403', 'unauthorized_401', 'rate_limited_429', 'server_error_5xx', 'login_required', 'request_failed', 'invalid_website', 'no_website', 'no_contact_page'];\nfunction cleanCode(value, fallback) {\n  const text = String(value || '').toLowerCase();\n  return allowed.includes(text) ? text : fallback;\n}\nfunction cleanErrors(values, fallback) {\n  const result = [];\n  for (const value of values || []) {\n    const code = cleanCode(value, null);\n    if (code && !result.includes(code)) result.push(code);\n  }\n  if (!result.length) result.push(fallback);\n  return result;\n}\nconst reason = cleanCode(data.homepage_block_reason, 'request_failed');\nconst errors = cleanErrors(data.errors, reason);\nreturn {\n  json: {\n    ...data,\n    homepage_response_body: undefined,\n    contact_response_body: undefined,\n    contact_page_url_candidate: null,\n    homepage_signals: null,\n    contact_signals: null,\n    extracted_emails: [],\n    extracted_phones: [],\n    errors,\n    raw_data_enrichment_v01: {\n      version: 'v0.1',\n      processed_at: now,\n      homepage_url: data.homepage_url || data.website || null,\n      contact_page_url: null,\n      homepage_accessible: false,\n      homepage_block_reason: reason,\n      homepage_http_status: data.homepage_http_status || null,\n      contact_page_accessible: null,\n      contact_page_block_reason: null,\n      contact_page_http_status: null,\n      extracted_emails: [],\n      extracted_phones: [],\n      errors,\n    },\n  },\n};"
      },
      "id": "b55a0102-0000-4000-9000-000000000023",
      "name": "Prepare Homepage Blocked Update Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        120
      ],
      "notesInFlow": true,
      "notes": "Builds failed writeback data with allowed error codes only. No HTML, challenge content, tokens, cookies, headers, stacks, or raw error objects are retained."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const lead = item.json;\nconst body = String(lead.homepage_response_body || '');\nconst sourceUrl = lead.website;\nconst errors = [...(lead.errors || [])];\nfunction unique(values) { return [...new Set(values.filter(Boolean).map((value) => String(value).trim()))]; }\nconst text = body.replace(/<script[\\s\\S]*?<\\/script>/gi, ' ').replace(/<style[\\s\\S]*?<\\/style>/gi, ' ').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\nconst emails = unique((body.match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/gi) || []).map((email) => email.toLowerCase()));\nconst phones = unique(body.match(/(?:\\+?1[\\s.-]?)?(?:\\(?\\d{3}\\)?[\\s.-]?)\\d{3}[\\s.-]?\\d{4}/g) || []);\nconst metaDescription = body.match(/<meta[^>]+name=[\"']description[\"'][^>]+content=[\"']([^\"']+)[\"']/i)?.[1] || body.match(/<meta[^>]+content=[\"']([^\"']+)[\"'][^>]+name=[\"']description[\"']/i)?.[1] || null;\nconst companyDescription = metaDescription || text.slice(0, 500) || null;\nconst links = [];\nconst linkRegex = /<a\\b[^>]*href=[\"']([^\"']+)[\"'][^>]*>([\\s\\S]*?)<\\/a>/gi;\nlet match;\nwhile ((match = linkRegex.exec(body)) !== null) {\n  const href = match[1];\n  const label = match[2].replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  const combined = (label + ' ' + href).toLowerCase();\n  if (/contact|contact us|request quote|get a quote|quote/.test(combined)) links.push({ href, label, source_url: sourceUrl });\n}\nreturn { json: { ...lead, homepage_response_body: undefined, homepage_url: sourceUrl, homepage_signals: { source_url: sourceUrl, fetched_at: new Date().toISOString(), candidate_emails: emails, candidate_phones: phones, company_description_candidate: companyDescription, contact_links: links, status_code: lead.homepage_http_status || null }, extracted_emails: emails, extracted_phones: phones, company_description_candidate: companyDescription, contact_link_candidates: links, errors } };"
      },
      "id": "b55a0100-0000-4000-9000-000000000010",
      "name": "Extract Homepage Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        -160
      ],
      "notesInFlow": true,
      "notes": "?? Detect Homepage Access Result ?????????? HTML??????? HTML?token?Cookie ?????"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = item.json;\nconst blockedDomains = ['linkedin.com', 'facebook.com', 'instagram.com', 'google.com', 'maps.google.com', 'x.com', 'twitter.com'];\n\nfunction parseHttpAddress(value) {\n  const raw = String(value || '').trim();\n  const match = raw.match(/^(https?):\\/\\/([^\\/?#\\s]+)([^\\s]*)?$/i);\n  if (!match) return null;\n\n  const protocol = match[1].toLowerCase();\n  const authority = match[2];\n  const hostname = authority.replace(/:\\d+$/, '').toLowerCase();\n  let path = match[3] || '/';\n\n  if (!hostname || hostname.includes('@') || hostname.includes('..')) return null;\n  if (!/^[a-z0-9.-]+$/.test(hostname) || hostname.indexOf('.') === -1) return null;\n  if (hostname.endsWith('.invalid')) return null;\n\n  path = path.split('#')[0] || '/';\n  if (!path.startsWith('/')) path = '/' + path;\n\n  return {\n    protocol,\n    authority: authority.toLowerCase(),\n    hostname,\n    rootDomain: hostname.replace(/^www\\./, ''),\n    href: protocol + '://' + authority.toLowerCase() + path,\n  };\n}\n\nfunction resolveSameSiteLink(rawHref, homepageAddress) {\n  const href = String(rawHref || '').trim();\n  if (!href || href.startsWith('#') || /^(mailto|tel|javascript):/i.test(href)) return null;\n\n  if (/^https?:\\/\\//i.test(href)) {\n    return parseHttpAddress(href);\n  }\n\n  if (href.startsWith('//')) {\n    return parseHttpAddress(homepageAddress.protocol + ':' + href);\n  }\n\n  const baseRoot = homepageAddress.protocol + '://' + homepageAddress.authority;\n  if (href.startsWith('/')) {\n    return parseHttpAddress(baseRoot + href);\n  }\n\n  return parseHttpAddress(baseRoot + '/' + href.replace(/^\\.\\//, ''));\n}\n\nconst homepageAddress = parseHttpAddress(data.homepage_url || data.website);\nlet selected = null;\n\nif (homepageAddress) {\n  for (const link of data.contact_link_candidates || []) {\n    const candidate = resolveSameSiteLink(link.href, homepageAddress);\n    if (!candidate) continue;\n\n    const candidateRoot = candidate.rootDomain;\n    const homeRoot = data.website_root_domain || homepageAddress.rootDomain;\n    const isBlocked = blockedDomains.some((domain) => candidateRoot === domain || candidate.hostname === domain || candidate.hostname.endsWith('.' + domain));\n\n    if (isBlocked) continue;\n    if (candidateRoot !== homeRoot) continue;\n\n    selected = candidate.href;\n    break;\n  }\n}\n\nreturn {\n  json: {\n    ...data,\n    contact_page_url_candidate: selected,\n    has_contact_page: Boolean(selected),\n  },\n};"
      },
      "id": "b55a0100-0000-4000-9000-000000000011",
      "name": "Find Same-Domain Contact Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        -160
      ],
      "notesInFlow": true,
      "notes": "???????????????????? root domain ??????? www ?? www ???????????"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "contact-found",
              "leftValue": "={{ $json.has_contact_page }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b55a0100-0000-4000-9000-000000000012",
      "name": "IF Contact Page Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        -160
      ],
      "notesInFlow": true,
      "notes": "?????????????????????????"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.contact_page_url_candidate }}",
        "options": {
          "timeout": 15000,
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "b55a0100-0000-4000-9000-000000000013",
      "name": "Fetch Contact Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        -280
      ],
      "continueOnFail": true,
      "notesInFlow": true,
      "notes": "???????? Contact ???????????????????"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ALLOWED_ERROR_CODES = [\n  'blocked_by_cloudflare_403',\n  'access_denied_403',\n  'unauthorized_401',\n  'rate_limited_429',\n  'server_error_5xx',\n  'login_required',\n  'request_failed',\n  'invalid_website',\n  'no_website',\n  'no_contact_page',\n];\n\nfunction statusFromResponse(responseData) {\n  const candidates = [\n    responseData.statusCode,\n    responseData.status,\n    responseData.code,\n    responseData.error && responseData.error.statusCode,\n    responseData.error && responseData.error.status,\n    responseData.error && responseData.error.code,\n  ];\n  for (const value of candidates) {\n    const numeric = Number(value);\n    if (Number.isInteger(numeric) && numeric >= 100 && numeric <= 599) return numeric;\n  }\n  return null;\n}\n\nfunction detectionText(responseData) {\n  return [\n    responseData.body,\n    responseData.data,\n    responseData.response,\n    responseData.message,\n    responseData.error && responseData.error.message,\n    responseData.error && responseData.error.description,\n  ].map((value) => String(value || '')).join(' ').toLowerCase();\n}\n\nfunction normalizeReason(reason) {\n  return ALLOWED_ERROR_CODES.includes(reason) ? reason : 'request_failed';\n}\n\nfunction detectBlockReason(statusCode, text, responseData) {\n  const cloudflare = text.includes('just a moment')\n    || text.includes('enable javascript and cookies')\n    || text.includes('challenges.cloudflare.com')\n    || text.includes('cloudflare');\n\n  if (statusCode === 403 && cloudflare) return 'blocked_by_cloudflare_403';\n  if (statusCode === 401) return 'unauthorized_401';\n  if (statusCode === 403) return 'access_denied_403';\n  if (statusCode === 429) return 'rate_limited_429';\n  if (statusCode >= 500) return 'server_error_5xx';\n  if (text.includes('login required') || text.includes('please log in') || text.includes('sign in required')) return 'login_required';\n  if (text.includes('access denied')) return statusCode === 403 ? 'access_denied_403' : 'request_failed';\n  if (text.includes('captcha')) return statusCode === 403 ? 'access_denied_403' : 'request_failed';\n  if (responseData.error || (!statusCode && !text.trim())) return 'request_failed';\n  return null;\n}\n\nfunction sanitizedErrors(values) {\n  const result = [];\n  for (const value of values || []) {\n    const text = String(value || '').toLowerCase();\n    let code = null;\n    for (const allowed of ALLOWED_ERROR_CODES) {\n      if (text === allowed || text.endsWith(':' + allowed) || text.includes(allowed)) {\n        code = allowed;\n        break;\n      }\n    }\n    if (!code) {\n      if (text.includes('no website') || text.includes('???')) code = 'no_website';\n      else if (text.includes('invalid') || text.includes('??')) code = 'invalid_website';\n      else if (text.includes('cloudflare') || text.includes('just a moment') || text.includes('enable javascript and cookies')) code = 'blocked_by_cloudflare_403';\n      else if (text.includes('403')) code = 'access_denied_403';\n      else if (text.includes('401')) code = 'unauthorized_401';\n      else if (text.includes('429')) code = 'rate_limited_429';\n      else if (text.includes('5xx') || text.includes('500') || text.includes('502') || text.includes('503') || text.includes('504')) code = 'server_error_5xx';\n      else if (text.includes('login')) code = 'login_required';\n      else code = 'request_failed';\n    }\n    if (!result.includes(code)) result.push(code);\n  }\n  return result;\n}\n\nconst base = $('Find Same-Domain Contact Page').first().json;\nconst response = item.json || {};\nconst status = statusFromResponse(response);\nconst text = detectionText(response);\nconst reason = normalizeReason(detectBlockReason(status, text, response));\nconst accessible = reason === null;\nconst errors = sanitizedErrors([...(base.errors || []), ...(accessible ? [] : [reason])]);\nconst body = accessible ? String(response.body ?? response.data ?? response.response ?? '') : '';\n\nreturn {\n  json: {\n    ...base,\n    contact_page_accessible: accessible,\n    contact_page_block_reason: accessible ? null : reason,\n    contact_page_http_status: status,\n    contact_response_body: body,\n    errors,\n  },\n};"
      },
      "id": "b55a0102-0000-4000-9000-000000000024",
      "name": "Detect Contact Page Access Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        -280
      ],
      "notesInFlow": true,
      "notes": "Classifies blocked Contact responses using status and sanitized text only. Does not pass blocked HTML, headers, cookies, tokens, stacks, or raw errors downstream."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b55a0102-0000-4000-9000-000000000025",
              "leftValue": "={{ $json.contact_page_accessible }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b55a0102-0000-4000-9000-000000000025",
      "name": "IF Contact Page Accessible",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3120,
        -280
      ],
      "notesInFlow": true,
      "notes": "Contact ???????? Extract Contact Signals???????? Merge And Clean Result?"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const base = item.json;\nconst body = String(base.contact_response_body || '');\nconst errors = [...(base.errors || [])];\nfunction unique(values) { return [...new Set(values.filter(Boolean).map((value) => String(value).trim()))]; }\nconst text = body.replace(/<script[\\s\\S]*?<\\/script>/gi, ' ').replace(/<style[\\s\\S]*?<\\/style>/gi, ' ').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\nconst emails = unique((body.match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/gi) || []).map((email) => email.toLowerCase()));\nconst phones = unique(body.match(/(?:\\+?1[\\s.-]?)?(?:\\(?\\d{3}\\)?[\\s.-]?)\\d{3}[\\s.-]?\\d{4}/g) || []);\nconst nameMatch = text.match(/(?:Contact|Sales|Customer Service|Support)\\s+([A-Z][a-z]+\\s+[A-Z][a-z]+)/);\nconst titleMatch = text.match(/\\b(Purchasing Manager|Sourcing Manager|Sales Manager|Owner|Founder|CEO|President|Customer Service|Support)\\b/i);\nreturn { json: { ...base, contact_response_body: undefined, contact_signals: { source_url: base.contact_page_url_candidate, fetched_at: new Date().toISOString(), candidate_emails: emails, candidate_phones: phones, candidate_contact_name: nameMatch?.[1] || null, candidate_contact_title: titleMatch?.[1] || null, status_code: base.contact_page_http_status || null }, extracted_emails: unique([...(base.extracted_emails || []), ...emails]), extracted_phones: unique([...(base.extracted_phones || []), ...phones]), contact_name_candidate: nameMatch?.[1] || null, contact_title_candidate: titleMatch?.[1] || null, errors } };"
      },
      "id": "b55a0100-0000-4000-9000-000000000014",
      "name": "Extract Contact Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        -280
      ],
      "notesInFlow": true,
      "notes": "?? Detect Contact Page Access Result ?? Contact ???????? HTML?Contact ????????"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = item.json;\nconst now = new Date().toISOString();\nconst allowed = ['blocked_by_cloudflare_403', 'access_denied_403', 'unauthorized_401', 'rate_limited_429', 'server_error_5xx', 'login_required', 'request_failed', 'invalid_website', 'no_website', 'no_contact_page'];\nfunction nonEmpty(value) { return value !== null && value !== undefined && String(value).trim() !== ''; }\nfunction first(values) { return (values || []).find(nonEmpty) || null; }\nfunction unique(values) { return [...new Set((values || []).filter(nonEmpty).map((value) => String(value).trim()))]; }\nfunction cleanCode(value) {\n  const text = String(value || '').toLowerCase();\n  return allowed.includes(text) ? text : null;\n}\nfunction cleanErrors(values) {\n  const result = [];\n  for (const value of values || []) {\n    const code = cleanCode(value);\n    if (code && !result.includes(code)) result.push(code);\n  }\n  return result;\n}\nconst emails = unique(data.extracted_emails || []);\nconst phones = unique(data.extracted_phones || []);\nconst contactReason = cleanCode(data.contact_page_block_reason);\nconst homepageReason = cleanCode(data.homepage_block_reason);\nconst errors = cleanErrors([...(data.errors || []), homepageReason, contactReason]);\nconst rawEnrichment = {\n  version: 'v0.1',\n  processed_at: now,\n  homepage_url: data.homepage_url || data.website || null,\n  contact_page_url: data.contact_page_url_candidate || null,\n  homepage_accessible: data.homepage_accessible === true,\n  homepage_http_status: data.homepage_http_status || null,\n  homepage_block_reason: homepageReason,\n  contact_page_accessible: data.contact_page_accessible === undefined ? null : data.contact_page_accessible,\n  contact_page_http_status: data.contact_page_http_status || null,\n  contact_page_block_reason: contactReason,\n  extracted_emails: emails,\n  extracted_phones: phones,\n  errors,\n};\nreturn { json: { ...data, homepage_response_body: undefined, contact_response_body: undefined, errors, extracted_emails: emails, extracted_phones: phones, next_company_description: nonEmpty(data.company_description) ? null : (data.company_description_candidate || null), next_contact_page_url: nonEmpty(data.contact_page_url) ? null : (data.contact_page_url_candidate || null), next_email: nonEmpty(data.email) ? null : first(emails), next_phone: nonEmpty(data.phone) ? null : first(phones), next_contact_name: nonEmpty(data.contact_name) ? null : (data.contact_name_candidate || null), next_contact_title: nonEmpty(data.contact_title) ? null : (data.contact_title_candidate || null), raw_data_enrichment_v01: rawEnrichment } };"
      },
      "id": "b55a0100-0000-4000-9000-000000000015",
      "name": "Merge And Clean Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        -80
      ],
      "notesInFlow": true,
      "notes": "Builds raw_data.enrichment_v01 with sanitized access fields, extracted emails/phones, and allowed error codes only."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = item.json;\nconst allowed = ['blocked_by_cloudflare_403', 'access_denied_403', 'unauthorized_401', 'rate_limited_429', 'server_error_5xx', 'login_required', 'request_failed', 'invalid_website', 'no_website', 'no_contact_page'];\nfunction cleanCode(value) {\n  const text = String(value || '').toLowerCase();\n  return allowed.includes(text) ? text : null;\n}\nfunction cleanErrors(values) {\n  const result = [];\n  for (const value of values || []) {\n    const code = cleanCode(value);\n    if (code && !result.includes(code)) result.push(code);\n  }\n  return result;\n}\nconst hasWebsite = Boolean(data.website);\nconst hasValidWebsite = data.is_valid_website === true;\nconst homepageAccessible = data.homepage_accessible === true;\nconst hasNewInfo = [data.next_company_description, data.next_contact_page_url, data.next_email, data.next_phone, data.next_contact_name, data.next_contact_title].some((value) => value !== null && value !== undefined && String(value).trim() !== '');\nlet status;\nlet errorCode = null;\nif (!hasWebsite) {\n  status = 'skipped';\n  errorCode = 'no_website';\n} else if (!hasValidWebsite) {\n  status = 'failed';\n  errorCode = 'invalid_website';\n} else if (!homepageAccessible) {\n  status = 'failed';\n  errorCode = cleanCode(data.homepage_block_reason) || 'request_failed';\n} else if (data.contact_page_accessible === false && hasNewInfo) {\n  status = 'partial';\n  errorCode = cleanCode(data.contact_page_block_reason);\n} else if (hasNewInfo) {\n  status = 'succeeded';\n} else {\n  status = 'partial';\n}\nconst errors = cleanErrors([...(data.errors || []), errorCode]);\nreturn { json: { ...data, errors, enrichment_status_next: status, enrichment_error_next: errorCode } };"
      },
      "id": "b55a0100-0000-4000-9000-000000000016",
      "name": "Decide Enrichment Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3840,
        -80
      ],
      "notesInFlow": true,
      "notes": "Chooses status and sanitized enrichment_error using only the allowed error code list."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = item.json;\nconst allowed = ['blocked_by_cloudflare_403', 'access_denied_403', 'unauthorized_401', 'rate_limited_429', 'server_error_5xx', 'login_required', 'request_failed', 'invalid_website', 'no_website', 'no_contact_page'];\nfunction cleanCode(value) {\n  const text = String(value || '').toLowerCase();\n  return allowed.includes(text) ? text : null;\n}\nfunction cleanErrors(values) {\n  const result = [];\n  for (const value of values || []) {\n    const code = cleanCode(value);\n    if (code && !result.includes(code)) result.push(code);\n  }\n  return result;\n}\nconst raw = data.raw_data_enrichment_v01 || {};\nconst safeRaw = {\n  version: 'v0.1',\n  processed_at: raw.processed_at || new Date().toISOString(),\n  homepage_url: raw.homepage_url || data.homepage_url || data.website || null,\n  contact_page_url: raw.contact_page_url || data.contact_page_url_candidate || null,\n  homepage_accessible: raw.homepage_accessible === true,\n  homepage_http_status: raw.homepage_http_status || null,\n  homepage_block_reason: cleanCode(raw.homepage_block_reason || data.homepage_block_reason),\n  contact_page_accessible: raw.contact_page_accessible === undefined ? null : raw.contact_page_accessible,\n  contact_page_http_status: raw.contact_page_http_status || null,\n  contact_page_block_reason: cleanCode(raw.contact_page_block_reason || data.contact_page_block_reason),\n  extracted_emails: Array.isArray(raw.extracted_emails) ? raw.extracted_emails : [],\n  extracted_phones: Array.isArray(raw.extracted_phones) ? raw.extracted_phones : [],\n  errors: cleanErrors(raw.errors || data.errors || []),\n};\nconst safeError = cleanCode(data.enrichment_error_next);\nreturn { json: { ...data, homepage_response_body: undefined, contact_response_body: undefined, raw_data_enrichment_v01: safeRaw, enrichment_error_next: safeError, query_parameters: [data.lead_id, data.next_company_description, data.next_contact_page_url, data.next_email, data.next_phone, data.next_contact_name, data.next_contact_title, JSON.stringify(safeRaw), data.enrichment_status_next, safeError] } };"
      },
      "id": "b55a0100-0000-4000-9000-000000000017",
      "name": "Prepare Safe Lead Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        -80
      ],
      "notesInFlow": true,
      "notes": "Final sanitation before parameterized SQL: only safe raw_data fields and allowed enrichment_error codes are passed to PostgreSQL."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.leads\nSET\n  company_description = COALESCE(NULLIF(company_description, ''), NULLIF($2, '')),\n  contact_page_url = COALESCE(NULLIF(contact_page_url, ''), NULLIF($3, '')),\n  email = COALESCE(NULLIF(email, ''), NULLIF($4, '')),\n  phone = COALESCE(NULLIF(phone, ''), NULLIF($5, '')),\n  contact_name = COALESCE(NULLIF(contact_name, ''), NULLIF($6, '')),\n  contact_title = COALESCE(NULLIF(contact_title, ''), NULLIF($7, '')),\n  raw_data = jsonb_set(COALESCE(raw_data, '{}'::jsonb), '{enrichment_v01}', $8::jsonb, true),\n  enrichment_status = $9,\n  enriched_at = NOW(),\n  enrichment_error = NULLIF($10, '')\nWHERE id = $1::uuid\nRETURNING\n  id,\n  company_name,\n  website,\n  email,\n  phone,\n  contact_name,\n  contact_title,\n  score,\n  grade,\n  priority,\n  enrichment_status,\n  enriched_at,\n  enrichment_error;",
        "options": {
          "queryReplacement": "={{ $json.query_parameters }}"
        }
      },
      "id": "b55a0100-0000-4000-9000-000000000018",
      "name": "Update Lead Safely",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4320,
        -80
      ],
      "notesInFlow": true,
      "notes": "??? UPDATE?? WHERE id = $1 ???? public.leads????????????? Trigger ????????"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id,\n  company_name,\n  website,\n  email,\n  phone,\n  contact_name,\n  contact_title,\n  score,\n  grade,\n  priority,\n  enrichment_status,\n  enriched_at,\n  enrichment_error\nFROM public.leads\nWHERE id = $1::uuid\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$json.id] }}"
        }
      },
      "id": "b55a0100-0000-4000-9000-000000000019",
      "name": "Fetch Updated Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4560,
        -80
      ],
      "notesInFlow": true,
      "notes": "????????? public.leads????????"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const row = item.json;\nreturn {\n  json: {\n    review_summary: {\n      lead_id: row.id,\n      company_name: row.company_name,\n      website: row.website,\n      enrichment_status: row.enrichment_status,\n      enriched_at: row.enriched_at,\n      enrichment_error: row.enrichment_error,\n      email: row.email,\n      phone: row.phone,\n      contact_name: row.contact_name,\n      contact_title: row.contact_title,\n      score: row.score,\n      grade: row.grade,\n      priority: row.priority,\n      manual_review_required: true,\n      safety_note: 'Manual review required. No automatic outreach.'\n    }\n  }\n};"
      },
      "id": "b55a0100-0000-4000-9000-000000000020",
      "name": "Show Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        -80
      ],
      "notesInFlow": true,
      "notes": "ASCII-only manual review summary text."
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Test Lead UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Test Lead UUID": {
      "main": [
        [
          {
            "node": "Fetch One Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch One Lead": {
      "main": [
        [
          {
            "node": "Validate Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Website": {
      "main": [
        [
          {
            "node": "IF Valid Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid Website": {
      "main": [
        [
          {
            "node": "Prepare Running Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Failed Update Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Running Update": {
      "main": [
        [
          {
            "node": "Fetch Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Failed Update Data": {
      "main": [
        [
          {
            "node": "Decide Enrichment Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Homepage": {
      "main": [
        [
          {
            "node": "Detect Homepage Access Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Homepage Signals": {
      "main": [
        [
          {
            "node": "Find Same-Domain Contact Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Same-Domain Contact Page": {
      "main": [
        [
          {
            "node": "IF Contact Page Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Contact Page Found": {
      "main": [
        [
          {
            "node": "Fetch Contact Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge And Clean Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Contact Page": {
      "main": [
        [
          {
            "node": "Detect Contact Page Access Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Contact Signals": {
      "main": [
        [
          {
            "node": "Merge And Clean Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge And Clean Result": {
      "main": [
        [
          {
            "node": "Decide Enrichment Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide Enrichment Status": {
      "main": [
        [
          {
            "node": "Prepare Safe Lead Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Safe Lead Update": {
      "main": [
        [
          {
            "node": "Update Lead Safely",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Safely": {
      "main": [
        [
          {
            "node": "Fetch Updated Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Updated Lead": {
      "main": [
        [
          {
            "node": "Show Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Homepage Access Result": {
      "main": [
        [
          {
            "node": "IF Homepage Accessible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Homepage Accessible": {
      "main": [
        [
          {
            "node": "Extract Homepage Signals",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Homepage Blocked Update Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Homepage Blocked Update Data": {
      "main": [
        [
          {
            "node": "Decide Enrichment Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Contact Page Access Result": {
      "main": [
        [
          {
            "node": "IF Contact Page Accessible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Contact Page Accessible": {
      "main": [
        [
          {
            "node": "Extract Contact Signals",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge And Clean Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b55a0103-0000-4000-9000-000000000099",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "nodeGroups": [],
  "tags": []
}
